{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<body style="background-color:#F5F6F8">
{% include('navbar/index.html.twig') %}
	<div class="flex justify-center">
		<div class="w-95% h-auto p-3 mt-20 section-title text-sm font-semibold text-tahiti-100 sm:text-sm sm:tracking-tight lg:text-5xl bg-white" style="text-align: center; ">
			
		</div>
	</div>
</body>
{% endblock %}
